﻿@model GameViewModel

    <form asp-controller="Game" asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        Name:  <input asp-for="Name" /> <br />
        <span asp-validation-for="Name"></span><br />
        Publisher:  <input asp-for="Publisher" /> <br />
        <span asp-validation-for="Publisher"></span><br />
        Price:  <input asp-for="Price" /> <br />
        <span asp-validation-for="Price"></span><br />
        <select asp-for="Type" asp-items="Model.GameTypes"></select>
        <input asp-for="formFile" type="file" class="form-control" />
        <span asp-validation-for="formFile" class="text-danger"></span>
        <button type="submit">Create Game</button>
    </form>