﻿@model GameViewModel

<form asp-controller="Game" asp-action="EditProcess" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="Id" value="@Model.Id" readonly style="display:none"/>
    Name:  <input asp-for="Name" value="@Model.Name" /> <br />
    <span asp-validation-for="Name"></span><br />
    Publisher:  <input asp-for="Publisher" value="@Model.Publisher" /> <br />
    <span asp-validation-for="Publisher"></span><br />
    Price:  <input asp-for="Price" value="@Model.Price"/> <br />
    <span asp-validation-for="Price"></span><br />
    <select asp-for="Type" asp-items="Model.GameTypes" value="@Model.Type"></select>
    <input asp-for="formFile" type="file" class="form-control" />
    <input asp-for="PhotoName" value="@Model.PhotoName" readonly style="display:none"/>
    <span asp-validation-for="formFile" class="text-danger"></span>
    <button type="submit">Edit Game</button>
</form>