﻿@{
    @model Dictionary<string, string>
}
   
    <div class="row">
        <div class="col-sm">
            <h3 id="game_name"></h3>
            @if ((string)ViewData["account_type"] == "administrator")
            {
                <a class="btn btn-danger" asp-controller="Game" asp-action="Delete" asp-route-id='@Model["id"]'><i class="fas fa-trash"></i> Delete</a>
            }
        </div>
        <div class="col-sm">
            <h3 id="play_time" style="text-align:right">Play time: 3h</h3>
            @if ((string)ViewData["account_type"] == "administrator")
            {
                <a class="btn btn-info float-right" asp-controller="Game" asp-action="Edit" asp-route-id='@Model["id"]'><i class="fas fa-edit"></i>Edit</a>
            }
        </div>

    </div>
<div class="row" style="background-color:grey; height:80vh">
    <img src="/imgs/play.jpg" style="display:block; margin:auto; margin-top:30%; width:100px; height:100px;" />
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var gameID = @Model["id"];
    var token = "@Model["access_token"]";
    $.ajax({
        url: 'http://localhost:5000/api/games/' + gameID,
        type: 'GET',
        beforeSend: function (xhr) {
            xhr.setRequestHeader('Authorization', 'Bearer ' + token);
        },
        data: {},
        success: function (data) {
            console.log(data);

            $("#game_name").text(data.name);

        },
        error: function (msg) { console.log(msg) },
    });
</script>