﻿@model UpgradeToPremiumViewModel

    <form asp-controller="Game" asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        CardHolder_Name:  <input asp-for=" CardHolder_Name" /> <br />
        <span asp-validation-for=" CardHolder_Name"></span><br />
        Card_Number:  <input asp-for="Card_Number" /> <br />
        <span asp-validation-for="Card_Number"></span><br />
        Price:  <input asp-for="Price" readonly /> <br />
        <span asp-validation-for="Price"></span><br />
        <select asp-for="Duration" asp-items="Model.Durations"></select>
        <button type="submit">Create Game</button>
    </form>