﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1>Games</h1>
</div>
<div id="main_list"></div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var accessToken = "@ViewData["access_token"]";
    var loaded = 0;
    function getGames(demo) {
        $.ajax({
        url: 'http://localhost:5000/api/games/type/'+demo,
        type: 'GET',
        beforeSend: function (xhr) {
            xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
        },
        data: {},
        success: function (data)
        {   
            loaded++;
            console.log(data);
            var $div = $("#main_list");
            data.forEach(function (item, index) {
                console.log(item);
                var $title = $("<h5>", { "class": "card-title bg-dark", "style":"width:max-content", "text":item.name });
                var $publisher = $("<p>", { "class": "card-text bg-dark","style":"width:max-content", "text":item.publisher });
                var $demo = $("<p>", { "class": "card-text bg-dark","style":"width:max-content", "text":  item.demo ? "Demo": "Full"});
                var $price = $("<p>", { "class": "card-text bg-dark","style":"width:max-content","text":"Price: "+item.price +" EUR"});
                var $div1 = $("<div>", { "class": "card-img-overlay" });
                $div1.append($title).append($publisher).append($demo).append($price);
                var $img = $("<img>", { "src": "/imgs/" + item.photoName, "class": "card-img", "alt": item.photoName , "style":"height:100%" });
                var $divM = $("<div>", { "class": "card bg-dark text-white", "style": "height:200px;margin:20px" }).click(function () {
                    console.log(item.id);
                    var account = "@ViewData["account_type"]";
                    console.log(account);
                    if (account == "") {
                        location.href = "https://localhost:5001/Account/Login";
                    } else {
                        location.href = "https://localhost:5001/Game/Show/" + item.id;
                    }
                });
                $divM.append($img).append($div1);
                $div.append($divM);
            });
            var account = "@ViewData["account_type"]";
            if (account == "administrator") {
                var $img = $("<img>", {
                    "src": "/imgs/Plus.png", "class": "card-img", "alt": "Plus", "style": "height:100%;width:200px;margin:auto"});
                var $divM = $("<div>", { "class": "card bg-dark text-white", "style": "height:200px;margin:20px" }).click(function () {
                    window.location.href = "https://localhost:5001/Game/Create/";
                });
                if (loaded == 2) {
                    $divM.append($img);
                    $div.append($divM);
                }
            }

        },
        error: function (msg) { console.log(msg); },
    });
    }

    getGames("true");
    getGames("false");
    

</script>